.view-dkan-topics-featured .topic-icon a::before {
  font-size: 3em;
  line-height: 1em; }

.pane-dkan-sitewide-demo-front-dkan-demo-front .pane-content, #featured .tint, .panel-top .tint {
  background-color: rgba(0, 0, 0, 0.45) !important; }

.branding .logo {
  margin: 0; }

.navbar {
  min-height: 40px; }

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav li > a, .navbar-default .user-menu .open > a, .navbar-default .user-menu li > a {
  padding-top: 10px;
  padding-bottom: 10px; }

.branding .logo {
  margin: 15px; }

#block-dkan-sitewide-dkan-sitewide-user-menu {
  visibility: hidden;
  display: none; }

#footer {
  margin: 36px 0 0; }

.col-md-2.col-lg-1.col-xs-2.icon-container {
  padding-right: 0; }

.col-md-10.col-lg-11.col-xs-10.search-result {
  padding-left: 0; }

.logo-gobnar {
  margin: 15px 0;
  background-image: url("../../assets/images/gobnar_footer.png");
  background-repeat: no-repeat;
  width: 265px;
  height: 77px; }

.logo-gana {
  margin: 15px 0;
  background-image: url("../../assets/images/gana_footer.png");
  background-repeat: no-repeat;
  width: 265px;
  height: 77px; }

.panel-bottom-full.panel-row {
  background-color: #efefef;
  padding-top: 48px; }

#footer {
  margin: 14px 0 0; }

.view-popular-tags ul.tag-list li {
  display: inline-block;
  margin-right: 1em;
  padding: 1px 4px;
  margin-bottom: 5px;
  font-size: 75%; }

.slick-row, .slick-header {
  font-size: 75%; }

.slick-row.odd {
  background-color: #efefef; }

.panel-pane.pane-block.pane-dkan-sitewide-demo-front-dkan-demo-front {
  line-height: 24px; }

/*# sourceMappingURL=gana.style.css.map */
